<div class="main about-main">
  <div class="about">
    <h2>USEDヨーヨーマーケットとは？</h2>
    <p>プレイヤー同士でヨーヨーを取引できるアプリケーションです。</p>
    <p>ヨーヨーを整理して、欲しかったヨーヨーをGETして、お互いHAPPYになろう！</p>
  </div>

  <div class="about-contain">
    <h3>眠っているヨーヨー、ありませんか？</h3>
    <img class="about-img" src="/about-2.jpg">
    <p>使わなくなったヨーヨー、壊れてしまったヨーヨー、それを必要としている人がいます。</h2>
    <p>どれも一度は楽しんだヨーヨー。次のオーナーさんへお届けしてみませんか？</p>
    <h3>探しているヨーヨー、ありませんか？</h3>
    <img class="about-img" src="/about-3.jpg">
    <p>「限定品だからなぁ...」「もう廃盤だからなぁ...」「あの時買い逃したなぁ...」</p>
    <p>そんなヨーヨーと、きっと出会えます。</p>
  </div>
  
  <div class="footer">
    <p>©︎ 2021 Taisei Mawaritachi All Rights Resarved.</p>
  </div>
</div>
