<div class="main top-main">
  <div class="top-message">
    <h2>USEDヨーヨーマーケット</h2>
    <p>あなたの使わないヨーヨーを、探している人がいます。</p>
    <p>あなたの探しているヨーヨーが、きっと見つかります。</p>
    <p>
      <%= link_to("/login") do %>
        <button class="btn login"> <!-- ボタン化 -->
          <i class="fas fa-sign-in-alt"> ログイン</i> <!-- font awesome 5 -->
        </button>
      <% end %>
      <%= link_to("/signup") do %>
        <button class="btn signup"> <!-- ボタン化 -->
          <i class="fas fa-user-plus"> 新規登録</i> <!-- font awesome 5 -->
        </button>
      <% end %>
    </p>
  </div>
</div>

<div class="footer">
  <p>©︎ 2021 Taisei Mawaritachi All Rights Reserved.</p>
</div>
